<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MainView" type="ML.ConfigSettings.Model.Settings.MainViewConfigSection, ML.ConfigSettings"/>
    <section name="AuziDSignals" type="ML.ConfigSettings.Model.Settings.AuziDSignalsConfigSection, ML.ConfigSettings"/>
    <section name="Parameters" type="ML.ConfigSettings.Model.Settings.ParametersConfigSection, ML.ConfigSettings"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <MainView>
    <maxSpeed value="10"/>
    <maxDopRuleSpeed value="2"/>
    <maxTokAnchor value="4"/>
    <maxTokExcitation value="200"/>
    <distance value="1050"/>
    <borderRed value="0.5"/>
    <upZeroZone value="10"/>
    <borderZero value="-50"/>
    <border value="1000"/>
    <leftSosud value="0"/>
    <rightSosud value="0"/>
  </MainView>
  <AuziDSignals addedSignals="0/2/5" signalsNames="0/1/2/3/4/5/6/7/8/9/10/11/12/13/14/15/16/17/18/19/20/21/22/23/24/25/26/27/28/29/30/31/32/33/34/35/36/37/38/39/40/41/42/43/44/45/46/47/48/49/50/51/52/53/54/55/56/57/58/59/60/61/62/63/64/65/66/67/68/69/70/71/72/73/74/75/76/77/78/79/80/81/82/83/84/85/86/87/88/89/90/91/92/93/94/95/96/97/98/99/100/101/102/103/104/105/106/107/108/109/110/111/112/113/114/115/116/117/118/119/120/121/122/123/124/125/126/127/128/129/130/131/132/133/134/135/136/137/138/139/140/141/142/143"></AuziDSignals>
  <Parameters variableParametersName="Vм &quot;груз&quot;/Vм &quot;люди&quot;/Vм &quot;оборудование&quot;/Vм &quot;ревизия&quot;/Vп &quot;груз и оборудование&quot;/Vп &quot;люди&quot;/Vд/tос/tср/hжн/hбн/aпт &quot;груз и оборудование&quot;/aпт &quot;люди&quot;/aр &quot;груз и оборудование&quot;/aр &quot;люди&quot;/deltaV/Принятый путь дотягивания &quot;груз и оборудование&quot; (вниз)/Принятый путь дотягивания &quot;груз и оборудование&quot; (вверх)/Принятый путь дотягивания &quot;люди&quot; (вниз)/Принятый путь дотягивания &quot;люди&quot; (вверх)" 
              variableParametersValue="10/5/10/2/1.5/1/0.5/0.1/0.8/0/0/1.5/1.5/0.6/0.6/1/5/5/5/5" 
              readonlyParametersName="Расчётный путь &quot;груз и оборудование&quot;/Расчётный путь &quot;люди&quot;/Расчётный путь дотягивания &quot;груз и оборудование&quot;/Расчётный путь дотягивания &quot;люди&quot;" readonlyParametersValue="0/0/0/0"></Parameters>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
