<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MainView" type="ML.ConfigSettings.Model.Settings.MainViewConfigSection, ML.ConfigSettings"/>
  </configSections>

  
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

  <MainView>
    <maxSpeed value="10"  />
    <maxDopRuleSpeed value="2"  />
    <maxTokAnchor value="4"  />
    <maxTokExcitation value="200"  />
    <distance value="1000"  />
    <borderRed value="0.5"  />
    <upZeroZone value="10"  />
    <borderZero value="0"  />
    <border value="1000"  />
  </MainView>
  
</configuration>
